body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: 'Arial', sans-serif;
    background-color: #1e1e2f;
    color: #ffffff;
    align-items: center; /* Vertically center */
    justify-content: center; /* Horizontally center */
    display: flex;
}


.sql-log-container {
    width: 1000px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center text alignment if needed */
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #007bff;
}

.title p {
    color: #333;
    font-size: 16px;
    margin: 10px 0;
}

.sql-log-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 16px;
}

.sql-log-table th, .sql-log-table td {
    color: #333;
    border: 1px solid #ddd;
    text-align: left;
    padding: 10px;
}

.sql-log-table th {
    background-color: #007bff;
    color: white;
}

.sql-log-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.sql-log-table tr:hover {
    background-color: #ddd;
}